vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Mar 2014 01:01:32 -0000
vti_author:SR|owner-PC\\owner
vti_modifiedby:SR|owner-PC\\owner
vti_nexttolasttimemodified:TW|04 Mar 2014 01:43:17 -0000
vti_timecreated:TR|04 Mar 2014 02:12:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|sandbox/viatorheader.html
vti_cacheddtm:TX|05 Mar 2014 01:01:32 -0000
vti_filesize:IR|5109
vti_cachedlinkinfo:VX|S|../../images/topbg.jpg S|../../images/navh.png S|../../images/loginbtnh.png S|../../images/quicklinks-bg.png S|../../images/loginbtn.png S|../../images/footerbg.jpg
vti_cachedsvcrellinks:VX|NSUS|file:///C:/xampp/htdocs/images/topbg.jpg NSUS|file:///C:/xampp/htdocs/images/navh.png NSUS|file:///C:/xampp/htdocs/images/loginbtnh.png NSUS|file:///C:/xampp/htdocs/images/quicklinks-bg.png NSUS|file:///C:/xampp/htdocs/images/loginbtn.png NSUS|file:///C:/xampp/htdocs/images/footerbg.jpg
