vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Feb 2014 03:38:02 -0000
vti_author:SR|owner-PC\\owner
vti_modifiedby:SR|owner-PC\\owner
vti_nexttolasttimemodified:TW|11 Feb 2014 03:38:02 -0000
vti_timecreated:TR|27 Feb 2014 18:14:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\xampp\\htdocs\\carrentalbully/c\:/xampp/htdocs/carrentalbully:TW|11 Feb 2014 03:38:02 -0000
vti_backlinkinfo:VX|contact.html sendmail.php
vti_cacheddtm:TX|27 Feb 2014 18:14:31 -0000
vti_filesize:IR|13812
vti_cachedlinkinfo:VX|S|../../images/magnifier.png S|../../images/topbg.jpg S|../../images/navh.png S|../../images/loginbtn.png S|../../images/loginbtnh.png S|../../images/bcrumbsbg.png S|../../images/mappoint.png S|../../images/mapphone.png S|../../images/maparrow.png S|../../images/sendbtn.png S|../../images/sendbtnh.png S|../../images/advicebg.png S|../../images/ssprite2.png S|../../images/usprite.png S|../../images/footerbg.jpg
vti_cachedsvcrellinks:VX|FSUS|images/magnifier.png FSUS|images/topbg.jpg FSUS|images/navh.png FSUS|images/loginbtn.png FSUS|images/loginbtnh.png FSUS|images/bcrumbsbg.png FSUS|images/mappoint.png FSUS|images/mapphone.png FSUS|images/maparrow.png FSUS|images/sendbtn.png FSUS|images/sendbtnh.png FSUS|images/advicebg.png FSUS|images/ssprite2.png FSUS|images/usprite.png FSUS|images/footerbg.jpg
