vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Feb 2014 03:38:05 -0000
vti_author:SR|owner-PC\\owner
vti_modifiedby:SR|owner-PC\\owner
vti_nexttolasttimemodified:TW|11 Feb 2014 03:38:05 -0000
vti_timecreated:TR|27 Feb 2014 18:14:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\xampp\\htdocs\\carrentalbully/c\:/xampp/htdocs/carrentalbully:TW|11 Feb 2014 03:38:05 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|27 Feb 2014 18:14:31 -0000
vti_filesize:IR|8079
vti_cachedlinkinfo:VX|S|../../images/background.png S|../../images/topbg.jpg S|../../images/navh.png S|../../images/loginbtn.png S|../../images/loginbtnh.png S|../../images/headerl.png S|../../images/flightbtn.png S|../../images/flightbtnh.png S|../../images/girl.png S|../../images/tourbtn.png S|../../images/tourbtnh.png S|../../images/footerbg.jpg
vti_cachedsvcrellinks:VX|FSUS|images/background.png FSUS|images/topbg.jpg FSUS|images/navh.png FSUS|images/loginbtn.png FSUS|images/loginbtnh.png FSUS|images/headerl.png FSUS|images/flightbtn.png FSUS|images/flightbtnh.png FSUS|images/girl.png FSUS|images/tourbtn.png FSUS|images/tourbtnh.png FSUS|images/footerbg.jpg
