vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Feb 2014 03:38:08 -0000
vti_author:SR|owner-PC\\owner
vti_modifiedby:SR|owner-PC\\owner
vti_nexttolasttimemodified:TW|11 Feb 2014 03:38:08 -0000
vti_timecreated:TR|27 Feb 2014 18:14:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\xampp\\htdocs\\carrentalbully/c\:/xampp/htdocs/carrentalbully:TW|11 Feb 2014 03:38:08 -0000
vti_backlinkinfo:VX|contact.html sandbox/indexfinal.html sendmail.php sandbox/hotels.html index.html
vti_cacheddtm:TX|27 Feb 2014 18:14:31 -0000
vti_filesize:IR|1966
vti_cachedlinkinfo:VX|S|loading.gif S|bullets.png S|arrows.png
vti_cachedsvcrellinks:VX|FSUS|css/themes/default/loading.gif NSUS|css/themes/default/bullets.png FSUS|css/themes/default/arrows.png
