/* CSS - Book Detail */

body {
	background: #fff;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
}
.clear {
	clear:both;
}

/* BEGIN TOP */
#top {
	background:#002c4e;
	height:44px;
}
#top .wraptop {
	width:960px;
	margin:0 auto;
}
#top .wraptop .left {
	float:left;
	margin:10px 0 0 0;
}
#top .wraptop .left ul {
	margin:0;
	padding:0;
}
#top .wraptop .left ul li {
	list-style-type:none;
	float:left;
	padding:0 15px 0 0;
}
#top .wraptop .left ul li a {
	color:#0067b5;
	text-decoration:none;
	font-size:12px;
}
#top .wraptop .left ul li a:hover {
	color:#fff;
}

#top .wraptop .right {
	float:right;
	margin:7px 0 0 0;
}
#top .wraptop .right ul {
	margin:0;
	padding:0;
}
#top .wraptop .right ul li {
	list-style-type:none;
	float:left;
	padding:0;
	font-size:12px;
}
#top .wraptop .right .call {
	margin:3px 0 0 0;
	padding:0 15px 0 0;
}
#top .wraptop .right ul li .callno {
	font-size:14px;
	color:#ffba01;
	font-weight:bold;
	text-shadow: 0px -1px 0px rgba(0, 37, 65, 1);
}
#top .wraptop .right .searchf {
	border:none;
	background: #fff url(../../images/magnifier.png) no-repeat 190px 7px;
	border-radius:3px;
	width:175px;
	height:28px;
	-moz-box-shadow: 1px 1px 2px rgba(201, 201, 201, 1) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(201, 201, 201, 1) inset;
	box-shadow: 1px 1px 2px rgba(201, 201, 201, 1) inset;
	padding:0 25px 0 10px;
	color:#8d8d8d;
	font-size:12px;
	outline:none;
}
/* END OF TOP */

/* BEGIN SUBTOP */
#subtop {
	background: url(../../images/topbg.jpg) repeat-x;
	height:66px;
}
#subtop .wrapsubtop {
	width:960px;
	margin:0 auto;
}
#subtop .wrapsubtop .logo {
	float:left;
	margin:7px 0 0 0;
}
#subtop .wrapsubtop .logo img {
	outline:none;
	border:none;
}
#subtop .wrapsubtop .navmenu {
	float:right;
	margin:0;
	text-transform:uppercase;
}
#subtop .wrapsubtop .navmenu ul {
	margin:0;
	padding:0;
}
#subtop .wrapsubtop .navmenu ul li {
	list-style-type:none;
	float:left;
	margin:0;
	padding:0 15px;
	line-height:64px;
}
#subtop .wrapsubtop .navmenu ul li:hover {
	background: url(../../images/navh.png) repeat-x;
	height:64px;
	line-height:64px;
}
#subtop .wrapsubtop .navmenu ul li.last {
	padding:0 0 0 15px;
}
#subtop .wrapsubtop .navmenu ul li a {
	font-size:14px;
	color:#fff;
	text-decoration:none;
	line-height:64px;
	display:block;
	text-shadow: 0px -1px 2px #002c4e;
}
#subtop .wrapsubtop .navmenu ul li a:hover {
	text-decoration:none;
}
#subtop .wrapsubtop .navmenu ul #signin {
	margin:17px 0 0 0;
	background: url(../../images/loginbtn.png) no-repeat;
	display:block;
	width:83px;
	line-height:30px;
	text-align:center;
	font-size:13px;
	font-weight:700;
	color:#7d5200;
	text-shadow: 0px 1px 0px rgba(252, 214, 83, 0.75);
}
#subtop .wrapsubtop .navmenu ul .last:hover {
	background:none;
}
#subtop .wrapsubtop .navmenu ul #signin:hover {
	background: url(../../images/loginbtnh.png) no-repeat;
}
nav li { 
	position:relative;
	float:left;
	list-style-type:none;
}
nav ul ul {
	display:none;
	position:absolute;
	left:0;
}
#subtop .wrapsubtop .navmenu .submenu {	
	background:rgba(0, 52, 97, 0.8);	
	padding:10px;
	z-index:9999;
	-webkit-box-shadow: 4px 4px 4.75px 0.25px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 4px 4px 4.75px 0.25px rgba(0, 0, 0, 0.35);
	box-shadow: 4px 4px 4.75px 0.25px rgba(0, 0, 0, 0.35);
}
#subtop .wrapsubtop .navmenu .submenu li {
	padding:0 0 0 10px;
	margin:0;
	width:190px;
}
#subtop .wrapsubtop .navmenu .submenu li:hover {
	padding:0;
	margin:0;
	height:25px;
	background:none;
}
#subtop .wrapsubtop .navmenu .submenu li a {
	font-size:13px;
	line-height:25px;
	padding:0;
	text-transform:none;
}
#subtop .wrapsubtop .navmenu .submenu li a:hover {
	line-height:25px;
	padding:0 0 0 10px;
	color:#ffba01;
}
/* END OF SUBTOP */

/* BEGIN BREADCRUMBS */
#breadcrumbs {
	background: url(../../images/bcrumbsbg.png) repeat-x;
	height:37px;
	margin:0 0 20px 0;
}
#breadcrumbs .wrapbreadcrumbs {
	width:960px;
	margin:0 auto;
}
#breadcrumbs .wrapbreadcrumbs .text {
	font-size:11px;
	color:#939393;
	padding:10px 0 0 0;
	text-shadow: 0px -1px 1px #fff;
}
#breadcrumbs .wrapbreadcrumbs .text a {
	color:#004c85;
	text-decoration:none;
	text-shadow: 0px -1px 1px #fff;
}
#breadcrumbs .wrapbreadcrumbs .text a:hover {
	text-decoration:underline;
}
/* END OF BREADCRUMBS */

/* BEGIN CONTENT */
#content {
	margin:0;
	padding:0;
}
#content .wrapcontent {
	width:960px;
	margin:0 auto 40px;
	color:#000;
	position:relative;
}
#content .wrapcontent .left {
	float:left;
	width:256px;
	margin:0 25px 0 0;
}
#content .wrapcontent .left .box {
	border:1px solid #e3e3e3;
	border-radius:3px;
}
#content .wrapcontent .left .box .topbox {
	background: url(../../images/topsfilterbg.png) repeat-x;
	height:32px;
	border-bottom:1px solid #e3e3e3;
}
#content .wrapcontent .left .box .title {
	float:left;
}
#content .wrapcontent .left .box .topbox .title h2 {
	margin:0;
	padding:0;
	font-size:14px;
	color:#626262;
	padding:6px 0 6px 10px;
}
#content .wrapcontent .left .box .topbox .reset {
	float:right;
	border-left:1px solid #e3e3e3;
	height:18px;
	padding:7px 10px;
}
#content .wrapcontent .left .box .topbox .reset a {
	color:#c7c7c7;
	font-size:12px;
	text-decoration:none;
	text-shadow: 0px -1px 1px #fff;
}
#content .wrapcontent .left .box .topbox .reset a:hover {
	color:#000;
}
#content .wrapcontent .left .midbox {
	padding:0 10px;
}
#content .wrapcontent .left .midbox h3 {
	color:#1575bc;
	font-size:12px;
	font-weight:600;
	margin:10px 0;
}
#content .wrapcontent .left .midbox .slide-result {
	margin:5px 0 0 0;
}
#content .wrapcontent .left .midbox .slide-result .amount1 {
	float:left;
	border:none;
	width:100px;
	font-size:12px;
	font-weight:600;
	color:#626262;
	font-family: 'Open Sans', sans-serif;
	background:none;
}
#content .wrapcontent .left .midbox .slide-result .amount2 {
	float:right;
	border:none;
	width:100px;
	text-align:right;
	font-size:12px;
	font-weight:600;
	color:#626262;
	font-family: 'Open Sans', sans-serif;
	background:none;
}
#content .wrapcontent .left .midbox .slide-result .rated {
	float:left;
	padding:3px 0 0 0;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars {
	background: url(../../images/ssprite.png) no-repeat;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.none {
	width:55px;
	height:11px;
	background-position:0 0;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.one {
	width:55px;
	height:11px;
	background-position:0px -11px;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.two {
	width:55px;
	height:11px;
	background-position:0px -22px;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.three {
	width:55px;
	height:11px;
	background-position:0 -33px;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.four {
	width:55px;
	height:11px;
	background-position:0 -44px;
}
#content .wrapcontent .left .midbox .slide-result .rated .stars.five {
	width:55px;
	height:11px;
	background-position:0 -55px;
}
#content .wrapcontent .left .midbox .slide-result .urated {
	float:left;
	padding:3px 0 0 0;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets {
	background: url(../../images/usprite.png) no-repeat;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.none {
	width:65px;
	height:13px;
	background-position:0 0;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.one {
	width:65px;
	height:13px;
	background-position:0px -13px;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.two {
	width:65px;
	height:13px;
	background-position:0px -26px;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.three {
	width:65px;
	height:13px;
	background-position:0 -39px;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.four {
	width:65px;
	height:13px;
	background-position:0 -52px;
}
#content .wrapcontent .left .midbox .slide-result .urated .bullets.five {
	width:65px;
	height:13px;
	background-position:0 -65px;
}
#content .wrapcontent .left .midbox .sbox {
	margin:0;
	padding:0;
}
#content .wrapcontent .left .midbox .sbox td {
	width:250px;
	padding:0 0 5px;
}
#content .wrapcontent .left .midbox .sbox .radiobtn {
	float:left;
}
#content .wrapcontent .left .midbox .sbox .text {
    float: left;
	padding:0 0 0 7px;
	cursor:pointer;
	font-size:12px;
	color:#626262;
	font-weight:600;
}
#content .wrapcontent .left .midbox .sbox .text.opt {
	padding:0 0 0 2px;
}
#content .wrapcontent .left .midbox .sbox .text .no {
	padding:0 0 0 5px;
	color:#c7c7c7;
	font-size:11px;
}
#content .wrapcontent .left .midbox .locmore {
	display:none;
}
#content .wrapcontent .left .midbox #lesslc {
	display:none;
}
#content .wrapcontent .left .midbox .moreopt {
	font-size:11px;
	color:#ec5223;
	text-decoration:none;
	padding:0 0 0 5px;
}
#content .wrapcontent .left .midbox .search {
	text-align:center;
	padding:5px 0 10px 0;
}
#content .wrapcontent .left .midbox .search .searchnow {
	background: url(../../images/searchfn.png) no-repeat;
	width:163px;
	height:40px;
	border:none;
	line-height:32px;
	text-transform:uppercase;
	cursor:pointer;
	text-align:center;
	font-size:16px;
	font-weight:700;
	color:#7d5200;
	text-shadow: 0px 1px 0px rgba(252, 214, 83, 0.75);
	font-family: 'Open Sans', sans-serif;
}
#content .wrapcontent .left .midbox .search .searchnow:hover {
	background: url(../../images/searchfnh.png) no-repeat;
}
#content .wrapcontent .right {
	float:left;
	width:679px;
}
#content .wrapcontent .right .title {

}
#content .wrapcontent .right .title h2 {
	color:#004c85;
	font-size:22px;
	font-weight:700;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
#content .wrapcontent .right #gallery {
	margin:10px 0;
	position:relative;
}
#content .wrapcontent .right #gallery .special {
	position:absolute;
	background: url(../../images/soffer.png) no-repeat;
	width:101px;
	height:102px;
	top:-4px;
	left:-5px;
	z-index:10;
}
#content .wrapcontent .right .info1 {
	border-bottom:1px dashed #e1e1e1;
	padding:0 0 8px 0;
}
#content .wrapcontent .right .info1 .subtitle {
	color:#1575bc;
	font-size:22px;
	font-weight:700;
	text-transform:uppercase;
	margin:0;
	padding:0;
	float:left;
	width:470px;
}
#content .wrapcontent .right .info1 .subtitle .count {
	font-size:12px;
	font-weight:600;
	text-transform:none;
	color:#ec5223;
	margin:0 0 0 5px;
}
#content .wrapcontent .right .info1 .social {
	width:190px;
	float:right;
	margin:10px 0 0 0;
}
#content .wrapcontent .right .info1 .social img {
	border:none;
	outline:none;
}
#content .wrapcontent .right .info1 .address {
	color:#626262;
	font-size:12px;
	font-weight:600;
	padding:0 0 0 2px;
}
#content .wrapcontent .right .ratings {
	border-bottom:1px dashed #e1e1e1;
	padding:15px 0 15px 0;
	margin:0 0 10px 0;
}
#content .wrapcontent .right .ratings .uratings {
	float:left;
	padding:4px 0 0 0;
}

#content .wrapcontent .right .ratings .uratings .bullets {
	background: url(../../images/usprite.png) no-repeat;
	float:left;
	margin:2px 8px 0 0;
}
#content .wrapcontent .right .ratings .uratings .bullets.none {
	width:65px;
	height:13px;
	background-position:0 0;
}
#content .wrapcontent .right .ratings .uratings .bullets.one {
	width:65px;
	height:13px;
	background-position:0px -13px;
}
#content .wrapcontent .right .ratings .uratings .bullets.two {
	width:65px;
	height:13px;
	background-position:0px -26px;
}
#content .wrapcontent .right .ratings .uratings .bullets.three {
	width:65px;
	height:13px;
	background-position:0 -39px;
}
#content .wrapcontent .right .ratings .uratings .bullets.four {
	width:65px;
	height:13px;
	background-position:0 -52px;
}
#content .wrapcontent .right .ratings .uratings .bullets.five {
	width:65px;
	height:13px;
	background-position:0 -65px;
}
#content .wrapcontent .right .ratings .uratings .text {
	font-size:12px;
	color:#004b83;
	font-weight:600;
	width:73px;
	float:left;
}
#content .wrapcontent .right .ratings .uratings .countrates {
	font-size:12px;
	color:#626262;
	font-weight:300;
	float:right;
}
#content .wrapcontent .right .ratings .sratings {
	float:right;
	color:#626262;
	font-size:12px;
}
#content .wrapcontent .right .ratings .sratings .stars {
	background: url(../../images/sstars.png) no-repeat;
	float:left;
}
#content .wrapcontent .right .ratings .sratings .stars.one {
	width:115px;
	height:23px;
	background-position:0px 0px;
}
#content .wrapcontent .right .ratings .sratings .stars.two {
	width:115px;
	height:23px;
	background-position:0px -23px;
}
#content .wrapcontent .right .ratings .sratings .stars.three {
	width:115px;
	height:23px;
	background-position:0 -46px;
}
#content .wrapcontent .right .ratings .sratings .stars.four {
	width:115px;
	height:23px;
	background-position:0 -69px;
}
#content .wrapcontent .right .ratings .sratings .stars.five {
	width:115px;
	height:23px;
	background-position:0 -92px;
}
#content .wrapcontent .right .ratings .sratings .countrates {
	color:#626262;
	font-size:12px;
	line-height:23px;
	padding:0 0 0 5px;
}
#content .wrapcontent .right .ratings .sratings a {
	color:#ec5223;
	text-decoration:none;
}
#content .wrapcontent .right .ratings .sratings a:hover {
	text-decoration:underline;
}
#content .wrapcontent .right .info2 {
	padding:10px 0;
}
#content .wrapcontent .right .info2 .left {
	float:left;
	width:480px;
}
#content .wrapcontent .right .info2 .left ul {
	margin:0;
	padding:0;
}
#content .wrapcontent .right .info2 .left ul li {
	list-style-type:none;
	color:#626262;
	font-size:12px;
	font-weight:600;
	margin:0 0 10px 0;
}
#content .wrapcontent .right .info2 .left .room {
	background: url(../../images/clock.png) no-repeat;
	padding:0 0 0 20px;
}
#content .wrapcontent .right .info2 .left .room .color {
	color:#1575bc;
}
#content .wrapcontent .right .info2 .left .people {
	background: url(../../images/people.png) no-repeat;
    padding: 0 0 0 20px;
}
#content .wrapcontent .right .info2 .left .people .color {
	color:#1575bc;
}
#content .wrapcontent .right .info2 .left .wishlist {
	background: url(../../images/heart.png) 0 3px no-repeat;
    padding: 0 0 0 20px;
}
#content .wrapcontent .right .info2 .left .wishlist a {
	color:#626262;
	text-decoration:none;
}
#content .wrapcontent .right .info2 .left .wishlist a:hover {
	text-decoration:underline;
}

#content .wrapcontent .right .info2 .left .viewmap {
	background: url(../../images/point.png) 1px 1px no-repeat;
    padding: 0 0 0 20px;
}
#content .wrapcontent .right .info2 .left .viewmap a {
	color:#ec5223;
	text-decoration:none;
	font-weight:300;
}
#content .wrapcontent .right .info2 .left .viewmap a:hover {
	text-decoration:underline;
}
#content .wrapcontent .right .info2 .right {
	background: url(../../images/fshadow.png) no-repeat left center;
	width:174px;
	height:126px;
	float:left;
}
#content .wrapcontent .right .info2 .right .price {
	color:#8ab112;
	font-size:36px;
	font-weight:800;
	text-align:center;
	padding:20px 0 0 15px;
	position:relative;
}
#content .wrapcontent .right .info2 .right .price.dollar {
	font-size:22px;
	top:-10px;
	padding:0;
}
#content .wrapcontent .right .info2 .right .discount {
	text-align:center;
	color:#ec5223;
	font-size:12px;
	font-weight:300;
	padding:0 0 0 15px;
}
#content .wrapcontent .right .bottom {
	margin:0 0 15px 0;
}
#content .wrapcontent .right .bottom .left {
	float:left;
	background: url(../../images/promobg.png) repeat-x;
	height:44px;
	width:490px;
	border:1px solid #e3e3e3;
	border-radius:3px;
	margin:0;
}
#content .wrapcontent .right .bottom .left .promotext {
	color: #626262;
    float: left;
    font-size: 11px;
    font-weight: 600;
    margin: 6px 0 0 10px;
    width: 150px;
}
#content .wrapcontent .right .bottom .left .promotext .optional {
	font-weight:300;
}
#content .wrapcontent .right .bottom .left .promotext a {
	color:#1575bc;
	text-decoration:none;
	font-weight:300;
}
#content .wrapcontent .right .bottom .left .promotext a:hover {
	text-decoration:underline;
}
#content .wrapcontent .right .bottom .left .optcode {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;
    color: #C7C7C7;
    float: right;
    height: 26px;
    margin: 5px 5px 0 0;
    padding: 3px;
    width: 316px;
	outline:none;
}
#content .wrapcontent .right .bottom .right {
	float:right;
	width:173px;
}
#content .wrapcontent .right .bottom .right .booknow {
	background: url(../../images/bbknow.png) no-repeat;
	width:163px;
	height:44px;
	border:none;
	text-transform:uppercase;
	cursor:pointer;
	text-align:center;
	font-size:18px;
	font-weight:700;
	color:#7d5200;
	text-shadow: 0px 1px 0px rgba(252, 214, 83, 0.75);
	font-family: 'Open Sans', sans-serif;
	float:right;
}
#content .wrapcontent .right .bottom .right .booknow:hover {
	background: url(../../images/bbknowh.png) no-repeat;
}
#content .wrapcontent .right .bottom .right .desc {
	
}
#content .wrapcontent .right .desc h2 {
	color:#1575bc;
	text-transform:uppercase;
	font-size:14px;
	margin:0 0 5px 0;
}
#content .wrapcontent .right .desc p {
	color:#626262;
	font-size:12px;
	margin:0 0 20px 0;
	padding:0;
	text-align:justify;
}
/* END OF CONTENT */


/* BEGIN FOOTER */
#footer {
	background: url(../../images/footerbg.jpg) repeat-x;
	height:55px;
}
#footer .wrapfooter {
	width:960px;
	margin:0 auto;
	font-size:12px;
}
#footer .wrapfooter .links {
	float:left;
	margin:20px 0 0 0;
}
#footer .wrapfooter .links ul {
	margin:0;
	padding:0;
}
#footer .wrapfooter .links ul li {
	list-style-type:none;
	float:left;
	padding:0 10px;
}
#footer .wrapfooter .links ul li a {
	color:#fff;
	text-decoration:none;
	outline:none;
	border:none;
	font-size:12px;
	text-shadow: 0px -1px 0px rgba(0, 44, 78, 0.5);
}
#footer .wrapfooter .links ul li a:hover {
	text-decoration:underline;
}
#footer .wrapfooter .copyright {
	float:right;
	margin:20px 0 0 0;
}
#footer .wrapfooter .copyright p {
	color:#fff;
	margin:0;
	padding:0;
	text-shadow: 0px -1px 0px rgba(0, 44, 78, 0.5);
}
/* END OF FOOTER */